



h1
{
text-align: center;
font-size: 100px;
color:#006600;
font-family: abolition;
margin-top: 256px;
}

h2
{
	color:#9b2222;
	font-family: abolition;
	margin: 00px;
	top:40px;
	left:0px;
	font-size: 100px;
	text-align: center;
	position: fixed;
	width: 100%;
}

body
{
text-align: center;
font-size: 86px;
font-family: abolition;
font-size: 55PX;
color:#006600;
}