/*v1 */
*{

}

h1{
	font-family: futura;
	text-align: center;
	margin-top: 650px;
	margin-bottom:400px;
}

.rotation
{
	transform: skewX(30deg)
	}

.rotation2
{

	transform: skewX(-30deg);
}

.rotation3
{
	 transform:skewX(30deg);
}

.rotation4
{
	transform:skewX(-30deg);
}

.rotation5
{
	transform:skewX(30deg);
}

.rotation6
{
	transform:skewX(-30deg);
}

.rotation7
{
	transform:skewX(30deg);
}

.rotation8
{
	transform:skewX(-30deg);
}

.rotation9
{
	transform:skewX(30deg);
}


#v2{

}

.font
{
	font-size: 100px;
	text-align:justify;
	font-family: hucklebuckJF;
}

#v3{

}

p
{
		font-size: 10px;
		text-align:justify;
}

.rotation
{
	transform:rotateZ(30deg);
}

.rotation2
{
	transform:rotateZ(40deg);
}

.rotation3
{
transform:rotateZ(50deg);
}

.rotation4
{
	transform:rotateZ(60deg);
}

.rotation5
{
	transform:rotateZ(70deg);
}

.rotation6
{
	transform:rotateZ(80deg);
}

.rotation7
{
	transform:rotateZ(90deg);
}

.rotation8
{
	transform:rotateZ(100deg);
}

.rotation9
{
	transform:rotateZ(110deg);
}

.end
{transform:rotateZ(180deg);}


#v4
{

}

.c1
{
	font-family:futura;
	text-align: center;
	font-size: 44px

}


#v5

.font2
{
	font-family:futura;
	text-align: center;
	font-size: 77px

}

.x1
{
	transform:rotateZ(45deg);
}

.x2
{
	transform:rotateZ(135deg);
}

.x3
{
	transform:rotateZ(135deg);
}

.x4
{
	transform:rotateZ(45deg);
}

.x5
{
	transform:rotateZ(135deg);
}

.x6
{
	transform:rotateZ(45deg);
}

.x7
{
	transform:rotateZ(135deg);
}

.x8
{
	transform:rotateZ(135deg);
}

.x9
{
	transform:rotateZ(45deg);
}

