h1{
	text-align: justify;
	font-family:portica;
	font-size: 26pt;
	margin-top:270pt;
	margin-left: 100pt;
	margin-right:100pt;
	margin-bottom: 310pt;
	color:#575757;
	font-family: 'Poiret One', cursive;

}


@keyframes rain {
  0%   { transform: translateY(0px); }
  100% { transform: translateY(500px) }
}

body{
	text-align: center;
}

p{
	text-align: justify;
	font-family: abolition;
	font-size: 26pt;
	margin-top:150pt;
	margin-left: 100pt;
	margin-right:100pt;
	margin-bottom: 300pt;
	font-family: 'Righteous', cursive;
	color:#575757;
}


#smiley{
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -40px;
	animation: rain 3s infinite;
}

#s2{
	position: absolute;
	top: 280px;
	left: 35%;
	margin-left: -40px;
	animation: rain 5s infinite;
}
#s3{
	position: absolute;
	top:180px;
	left: 15%;
	margin-left: -40px;
	animation: rain 11s infinite;
}

#s4{
	position: absolute;
	top: 20px;
	left: 5%;
	margin-left: -40px;
	animation: rain 6s infinite;
}

#s5{
	position: absolute;
	top: 160px;
	left: 66%;
	margin-left: -40px;
	animation: rain 4s infinite;
}
#s6{
	position: absolute;
	top: 20px;
	left: 77%;
	margin-left: -40px;
	animation: rain 9s infinite;
}



#lips{
	position: absolute;
	top: 606px;
	left: 55%;
	margin-left: -80px;
}


#hat{
	position: absolute;
	top:690px;
	left:35%;
	margin-left: -40px;
}

#flower{
	position:absolute;
	top:660px;
	left:15%;
	margin-left: -40px;
}


#ribbon{
	position: absolute;
	top:510px;
	left:5%;
	margin-left: -40px;
}

#fairy{
	position:absolute;
	top:670px;
	left:60%;
	margin-left: -40px;
	z-index: -1;
}

#kiss{
	position:absolute;
	top:620px;
	left:87%;
	margin-left: -40px;
}

























